#page
  %h1
    %a{:href => "http://#{env['HTTP_HOST']}"} Whose Flickr?
  %p Say, who does that Flickr pic belong to?
  %form{:action => "/"}
    %label{:for => "url"} Photo URL:
    %input#url{:name => "url", :value => params[:url]}
    %input{:type => "submit", :value => "Tell me"}

  - unless params[:url]
    = surround '(e.g. ', ')' do
      %a#example{:href => "http://#{env['HTTP_HOST']}/?url=http://farm4.static.flickr.com/3583/3794050754_f221c3d533_b.jpg"} http://farm4.static.flickr.com/3583/3794050754_f221c3d533_b.jpg

  - if params[:url] && @photo
    = p !!(params[:url] && @photo)
    %div#profile
      %h2
        %a{:href => @photo['photo']['urls']['url']}= @photo['photo']['title']
      %img{:src => params[:url], :alt => @photo['photo']['title']}
      %div.description= @photo['photo']['description']
      By 
      %a{:href => "http://www.flickr.com/photos/#{@photo['photo']['owner']['nsid']}"}= @photo['photo']['owner']['username']

  - elsif params[:url]
    %p.error Not a valid photo URL
